/*------------------------------------*\
$FOOTER
\*------------------------------------*/
.footer {
    position: relative;
    overflow: hidden;
}
.footer__media {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    &.footer__media--bottom {
        img {
            object-position: center !important;
            @include respond-to(wide) {
                object-position: 0 -200px !important;
            }
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: $level1;
        background: rgba(0,0,0,0.1);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        @include respond-to(tablet) {
            height: 110px;
        }
    }
}
.footer__container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $level2;
    padding: 0 10px 12px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    @include respond-to(tablet) {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 12px;
    }
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: $cream;
        opacity: .5;
        margin-bottom: 20px;
    }
}
.footer__links {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
    @include respond-to(tablet) {
        width: 400px;
        margin-bottom: 0;
    }
    @include respond-to(desktop) {
        width: 450px;
    }
    a {
        &:nth-child(3) {
            width: 60px;
            height: 22px;
            @include respond-to(tablet) {
                width: 77px;
                height: 28px;
            }
        }
        &:nth-child(1) {
            width: 70px;
            height: 10px;
            @include respond-to(tablet) {
                width: 95px;
                height: 14px;
            }
        }
        &:nth-child(2) {
            width: 60px;
            height: 10px;
            @include respond-to(tablet) {
                width: 95px;
                height: 15px;
            }
        }
        &:nth-child(4) {
            width: 37px;
            height: 17px;
            @include respond-to(tablet) {
                width: 68px;
                height: 32px;
            }
        }
    }
    svg {
        margin: auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.footer__block {
    @include respond-to(tablet) {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-flow: row wrap;
        margin-bottom: 10px;
    }
    @include respond-to(tablet) {
        width: 260px;
    }
    @include respond-to(desktop) {
        width: 440px;
    }
}
.footer__newsletter {
    margin-bottom: 15px;
    width: 190px;
    margin: auto;
    position: relative;
    @include respond-to(tablet) {
        width: calc(100% - 50px);
        margin: 0;
    }
    p {
        font-style : italic;
        font-size : 14px;
        color: white;
        @extend .droid;
        margin-bottom: 5px;
        padding-left: 15px;
        @include respond-to(tablet) {
            padding-left: 8px;
        }
        @include respond-to(desktop) {
            margin-bottom: 0;
        }
    }
    .message {
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        p {
            width: 100%;
            text-align: center;
            font-style: normal;
            @include font-size(11px, 20px);
            color: white;
            @extend .pro;
            padding: 0;
            text-align: right;
            padding-right: 10px;
        }
    }
}
.newsletter__block {
    @include respond-to(desktop) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5px;
    }
    p {
        @include respond-to(desktop) {
            margin-right: 10px;
        }
    }
}
.newsletter {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    margin-bottom: 15px;
    @include respond-to(tablet) {
        margin-bottom: 0;
    }
    .input-group {
        width: 100%;
        &.form__error {
            input {
                background: #d12c3d;
                color: rgba(white, .5);
            }
        }
        p.form__error {
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            text-align: center;
            font-style: normal;
            @include font-size(11px, 20px);
            color: #d12c3d;
            @extend .pro;
            padding: 0;
            text-align: right;
        }
        input {
            width: 100%;
            height: 23px;
            border-radius: 11.5px;
            border: 0;
            background: rgba(white, .8);
            padding: 0 28px 0 10px;
            font-style: italic;
            @extend .droid;
            font-size: 13px;
            color: rgba($principal, .5);
        }
    }
    .send-group {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        overflow: hidden;
        background: rgba($principal, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        position: absolute;
        right: 0;
        top: 0;
        input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            border: none;
            padding: 0;
        }
        svg {
            width: 12px;
            height: 10px;
            fill: white;
        }
    }
}
.credits {
    text-align: center;
    @include respond-to(tablet) {
        text-align: right;
    }
    a {
        opacity: .5;
        color: rgba(white, .5);
        transition: all $time;
        svg {
            fill: white;
            margin-left: 8px;
            transition: all $time;
        }
        .no-touch & {
            &:hover {
                opacity: 1;
                color: white;
                svg {
                    fill: #3dc4cc;
                }
            }
        }
    }
}