/*------------------------------------*\
    		$HERO
\*------------------------------------*/
.cssload-dots {
	position: relative;
    margin: auto;
	width: 80px;
	height: 80px;
    border-radius: 50%;
    animation: cssload-dot-colors 4s ease infinite;
    z-index: $level10;
    display: none;
}
@keyframes cssload-dot-colors {
	0% {
		background-color: #A75F5D;
	}
	15% {
		background-color: #D18C18;
	}
	30% {
		background-color: #F7A900;
	}
	45% {
		background-color: #66902F;
	}
	50% {
		background-color: #D12C3D;
	}
	65% {
		background-color: #B42C3A;
	}
	80% {
		background-color: #AF1C2B;
	}
	100% {
		background-color: #888a8d;
	}
}