/*------------------------------------*\
$RESULT
\*------------------------------------*/
.category {
    padding: 0 10px;
    max-width: 380px;
    margin: auto;
    @include respond-to(tablet) {
        padding-top: 30px;
    }
    .category__title {
        width: 100%;
        text-transform: uppercase;
        color: $title;
        border-bottom: 1px solid $button;
        text-align: center;
        padding-bottom: 10px;
        @include font-size(18px, 21px);
        @extend .droid;
        letter-spacing: 2px;
        span {
            color: $title;
            text-transform: none;
        }
    }
}
.news__items {
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    @include respond-to(tablet) {
        width: 640px;
        margin: auto;
        padding: 0;
    }
    .news__item {
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid $button;
        .news__item__image {
            max-height: 200px;
            overflow: hidden;
            margin-bottom: 30px;
            @include respond-to(tablet) {
                max-height: 400px;
                padding: 0 20px;
            }
            a {
                display: block;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .news__item__content {
            @include respond-to(tablet) {
                padding: 0 20px;
            }
            .news__item__date {
                color: $principal;
                margin-bottom: 10px;
                p {
                    @include font-size(16px, 30px);
                }
                a {
                    color: $title;
                    display: inline-block;
                    @include font-size(16px, 30px);
                }
            }
            .news__item__title {
                @include font-size(20px, 24px);
                margin-bottom: 15px;
                @extend .droid;
                letter-spacing: 4px;
                a {
                    color: $title;
                    transition: all 300ms;
                }
            }
            .news__item__more {
                @include font-size(30px, 36px);
                font-family: woolen;
                color: $principal;
                transition: all 300ms;
                @include respond-to(tablet) {
                    float: left;
                    width: 150px;
                }
                &:hover {
                    color: $title;
                }
            }
        }
        .single-share {
            display: block;
            float: none;
            @include respond-to(tablet) {
                float: right;
                width: 300px;
                text-align: right;
                padding-top: 0;
            }
            a {
                display: inline-block;
                margin-left: 0;
                margin-right: 30px;
                @include respond-to(tablet) {
                    margin-right: 0;
                    margin-left: 30px;
                }
                svg {
                    fill: $principal;
                    transition: all 300ms;
                }
                &:hover {
                    svg {
                        fill: $principal;
                    }
                }
            }
        }
    }
}
.pagination {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
    @include respond-to(tablet) {
        text-align: right;
        padding: 10px 0;
    }
    .pagination__item {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        a {
            color: $gray;
            padding: 5px;
            transition: all $time;
            .no-touch & {
                &:hover {
                    color: $title;
                }
            }
            &.current {
                color: $principal;
                border: 1px solid $button;
            }
        }
    }
}